extends "layout.jade"
block body
  article.content
    header.entry
      h2 {{entry.title}}
      if session['user_id']
        p.action_edit: a(href="{{url_for('admin_entry.edit_view', id=entry.id, url=this_url)}}") Edit
        form(class="action_delete", method="POST", action="{{ url_for('admin_entry.delete_view', id=entry.id, url=url_for('.entries')) }}")
            if csrf_token
                input(type="hidden", name="csrf_token", value="{{ csrf_token() }}")
            endif
                button(onclick="return confirm('Are you sure you want to delete this record?');", title="Delete record") Delete
      time.updated_at 更新日: {{entry.updated_at}}
      if entry.category
        span.category {{'Category: {cat}'.format(cat=entry.category.name)}}
      else
        span.category Category: None
      endif
    section.entry
      {{entry.body}}
